/* *{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
} */

.nav-link {
  font-weight: 600;  /* Make links bold */
  color: #333 !important; /* Normal color */
}

.nav-link.active {
  color: #0d6efd !important; /* Bootstrap primary color */
  border-bottom: 2px solid #0d6efd; /* Underline active link */
}